button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	padding: rem-calc(7 10 6 10);
	font-size: rem-calc(12);
	outline: 0;
	cursor: pointer;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}