header .navbar .navbar-header a.navbar-brand {
    color: #ee3733;
}

a {
    color: #ee3733;
}

.accent-color {
    color: #ee3733;
}

.accent-color-bg {
    background-color: #ee3733;
}

.top-bar a:hover {
    color: #ee3733;
}

.section-overlay {
    background-color: #ee3733;
}

.top-bar.color-bar {
    background-color: #ee3733;
}

.service-box .read-more {
    color: #ee3733;
}

a.main-button, input[type="submit"] {
    background-color: #ee3733;
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
    color: #ee3733;
}

.dropdown > li:hover > a, .sup-dropdown li:hover > a {
    color: #ee3733;
}

.navbar-default .navbar-nav > li > a:after {
    background-color: #ee3733;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-color: #ee3733;
}

.dropdown li a.active, .sup-dropdown li a.active {
    color: #ee3733;
}

ul.breadcrumbs li a:hover {
    color: #ee3733;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
    background-color: #ee3733;
}

.tp-caption.color-bg {
    background-color: #ee3733;
}

.team-member .member-socail a.mail:hover i {
    background-color: #ee3733;
}

.post-share a.mail:hover {
    background-color: #ee3733;
}

.progress .progress-bar.progress-bar-primary {
    background-color: #ee3733;
}

.latest-posts-classic .left-meta-post .post-type i {
    background-color: #ee3733;
}

.latest-posts-classic .post-title a:hover {
    color: #ee3733;
}

.panel-title a {
    color: #ee3733;
}

.panel-title a:hover {
    color: #ee3733;
}

.milestone-block .milestone-icon {
    background-color: #ee3733;
}

.milestone-block .milestone-icon:after {
    background-color: #ee3733;
}

.milestone-block .milestone-number {
    color: #ee3733;
}

.pricing-tables .pricing-table.highlight-plan .plan-name h3 {

/
/
color: #ee3733

;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
    background-color: #ee3733;
}

.pricing-tables .pricing-table.highlight-plan .plan-name {
    background-color: #ee3733;
}

.btn-system {
    background-color: #ee3733;
}

.btn-system.border-btn {
    border-color: #ee3733;
    color: #ee3733;
}

.btn-system.border-btn:hover {
    background-color: #ee3733;
}

.btn-system.border-btn.btn-wite:hover {
    color: #ee3733;
}

.btn-system.btn-wite {
    color: #ee3733;
}

ul.icons-list li i {
    color: #ee3733;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #ee3733;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    color: #ee3733;
}

.icon-small {
    text-shadow: 0 0 0 #ee3733;
}

.icon-small:hover, .service-box:hover .icon-small {
    color: #ee3733;
}

.icon-medium {
    text-shadow: 0 0 0 #ee3733;
}

.icon-medium:hover, .service-box:hover .icon-medium {
    color: #ee3733;
}

.icon-large {
    text-shadow: 0 0 0 #ee3733;
}

.icon-large:hover, .service-box:hover .icon-large {
    color: #ee3733;
}

.icon-effect-1 {
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.icon-effect-1:after {
    background-color: #ee3733;
}

.icon-effect-1:hover, .service-box:hover .icon-effect-1 {
    color: #ee3733;
}

.icon-effect-2 {
    color: #ee3733;
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.icon-effect-2:after {
    background-color: #ee3733;
}

.icon-effect-3 {
    color: #ee3733;
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.icon-effect-4 {
    color: #ee3733;
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.icon-effect-5 {
    color: #ee3733;
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.icon-effect-6 {
    color: #ee3733;
    box-shadow: 0 0 0 3px #ee3733;
    -o-box-shadow: 0 0 0 3px #ee3733;
    -moz-box-shadow: 0 0 0 3px #ee3733;
    -webkit-box-shadow: 0 0 0 3px #ee3733;
}

.team-member .member-photo .member-name span {
    background-color: #ee3733;
}

.classic-title span {
    border-bottom-color: #ee3733;
}

.portfolio-filter li a:hover {
    color: #ee3733;
}

.portfolio-filter li a.selected {
    border-color: #ee3733;
    background-color: #ee3733;
}

.portfolio-item:hover .portfolio-details h4 {
    color: #ee3733;
}

.project-content h4 span {
    border-bottom-color: #ee3733;
}

.recent-projects h4.title span {
    border-bottom-color: #ee3733;
}

ul.post-meta li a:hover {
    color: #ee3733;
}

#pagination span.current {
    border-color: #ee3733;
    background-color: #ee3733;
}

#pagination a:hover {
    color: #ee3733;
}

.post-tags-list a:hover {
    background-color: #ee3733;
}

.post-share a.mail {
    background-color: #ee3733;
}

.sidebar a:hover {
    color: #ee3733;
}

.widget-search .search-btn {
    background-color: #ee3733;
}

.sidebar .tagcloud a, .footer-widget .tagcloud a {
    background: #ee3733;
}

.back-to-top:hover i {
    background-color: #ee3733;
}

.touch-slider .owl-controls.clickable .owl-buttons div:hover {
    background-color: #ee3733;
}

.touch-carousel .owl-controls.clickable .owl-buttons div:hover {
    background-color: #ee3733;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div {
    background-color: #ee3733;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover i {
    color: #ee3733;
}

#portfolio-list li .portfolio-item-content {
    background: rgba(238, 55, 51, 0.9);
}

.services-3-icon i {
    background-color: #ee3733;
}

.services-2-icon i {
    background-color: #ee3733;
}

.progress-bar {
    background-color: #ee3733;
}

#main-slide .animated2 strong {
    color: #ee3733;
}

#main-slide .animated4 strong {
    color: #ee3733;
}

#main-slide .animated7 strong {
    color: #ee3733;
}

#main-slide .carousel-control i:hover {
    background: #ee3733;
}

.slider.btn {
    background-color: #ee3733;
}

#main-slide .carousel-indicators .active {
    background-color: #ee3733;
}

.counter-item i {
    color: #ee3733;
}

.timer {
    color: #ee3733;
}

.team-member.modern .member-photo:after {
    background-color: #ee3733;
}

.twitter-widget a {
    color: #ee3733;
}

.dot1, .dot2 {
    background-color: #ee3733;
}

/* Edit by Harish*/
/*.latest-posts-classic .read-more {
	color: #fff;
}*/
.slider.btn.btn-default {
    color: #fff;
    transition: all 0.8s ease 0s !important;
    background-color: #000 !important;
    background-image: linear-gradient(to bottom, #000 50%, #fff 50%) !important;
    background-size: 100% 200% !important;
    border: 2px solid #000 !important;
}

.slider.btn.btn-default:hover {
    background-position: 0 -100%;
    color: #000;
}

.slider-btn1 {
    color: #fff;
    transition: all 0.8s ease 0s !important;
    background-color: #ee3733 !important;
    background-image: linear-gradient(to bottom, #ee3733 50%, #fff 50%) !important;
    background-size: 100% 200% !important;
    border: 2px solid #ee3733 !important;
}

.slider-btn1:hover {
    background-position: 0 -100%;
    color: #ee3733;
}

/* Call out button */
.call_btn1 {
    display: inline;
    box-shadow: 3px 3px 3px #fff;
    padding: 15px !important;
    margin-right: 10px;
    transition: all 0.8s ease 0s !important;
    background-color: #ee3733 !important;
    background-image: linear-gradient(to bottom, #ee3733 50%, #fff 50%) !important;
    background-size: 100% 200% !important;
    border: 2px solid #ee3733 !important;
}

.call_btn1:hover {
    background-position: 0 -100%;
    color: #ee3733;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #000;
}

.call_btn2 {
    display: inline;
    box-shadow: 3px 3px 3px #ee3733;
    padding: 15px !important;
    color: #fff !important;
    margin-right: 10px;
    transition: all 0.8s ease 0s !important;
    background-color: #000 !important;
    background-image: linear-gradient(to bottom, #000 50%, #fff 50%) !important;
    background-size: 100% 200% !important;
    border: 2px solid #000 !important;
}

.call_btn2:hover {
    background-position: 0 -100% !important;
    color: #000 !important;
    background-color: #ee3733 !important;
    box-shadow: 3px 3px 3px #000 !important;
}

.call_btn1 i:before, .call_btn2 i:before {
    margin-right: 10px;
}

.call-sec {
    margin-top: 70px !important;
}

/* Home Blog */
.matrix_carousel-prev, .matrix_carousel-next {
    background-color: #ee3733;
}

/* Single Post Link */
.left a {
    background-color: #ee3733;
}

.right a {
    background-color: #ee3733;
}

/* Calender Styling */
#wp-calendar {
    border: 2px solid #ee3733;
}

#wp-calendar td a {
    color: #ee3733;
}

#wp-calendar th {
    border: 2px solid #ee3733;
}

#wp-calendar caption {
    background-color: #ee3733;
}
/* Mobile Menu */
.slicknav_btn {
  border-color: #ee3733;
}
.slicknav_btn:hover {
  background: #ee3733;
}
.slicknav_menu .slicknav_icon-bar {
  background: #ee3733;
}
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: #ee3733;
}
/* Read More */
/* .latest-posts-classic .read-more {
    color: #ee3733;
} */