.flex-prev {
	font-size: rem-calc(14);
	padding: rem-calc(0 12);
}
.flex-next {
	font-size: rem-calc(14);
	padding: rem-calc(0 12);
}
.flexslider {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slides {
	li {
		position: relative;
	}
	img {
		height: auto;
		width: 100%;
	}
}
.powen-slider-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: rem-calc(5);
	background: $color__powen-slider-content-background;
}
.powen-slider-title {
	line-height: 1.2;
	color: #ffffff;
	margin: rem-calc(10 0);
}
.powen-slider-description {
	color: #ffffff;
	line-height: 1.2;
	margin-bottom: rem-calc(30);
}