#customize-controls #customize-info .accordion-section-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title:after {
    border-color: transparent !important;
    border-color: transparent !important;
}

.hint,
[data-hint] {
    position: relative;
    display: inline-block;
}

.hint:before, .hint:after,
[data-hint]:before,
[data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 998;
    pointer-events: none;
    transition: 0.3s ease;
    transition-delay: 250ms;
}

.hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after,
[data-hint]:hover:before,
[data-hint]:hover:after,
[data-hint]:focus:before,
[data-hint]:focus:after {
    visibility: visible;
    opacity: 1;
}

.hint:hover:before, .hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
    transition-delay: 0;
}

.hint:before,
[data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: none;
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
    left: -5px;
    top: 5px;
}

.hint:after,
[data-hint]:after {
    content: attr(data-hint);
    background: #333;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    height: auto;
    margin-bottom: -14px;
    width: 170px;
    max-width: 170px;
    display: block;
    white-space: normal;
    text-align: right;
    position: relative;
    top: -22px;
    left: -195px;
}

li.customize-control {
    position: relative;
}

li.customize-control a.tooltip.hint--left {
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    border-radius: 50%;
    color: #999;
    border: none;
    line-height: 8px;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.rtl li.customize-control a.tooltip.hint--left {
    right: auto;
    left: 0;
}

.rtl .hint:before,
.rtl [data-hint]:before {
    left: 20px;
    border-left: none;
    border-right: 5px solid #333;
}

.rtl .hint:after,
.rtl [data-hint]:after {
    left: 195px;
}

customize-control-upload .current .container {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

#customize-controls .description {
    font-style: normal;
    font-weight: 300;
    font-size: .9em;
}

.customize-control-color .wp-picker-container,
.customize-control-color-alpha .wp-picker-container {
    width: 100%;
}

.customize-control-color .wp-picker-container a.wp-color-result,
.customize-control-color-alpha .wp-picker-container a.wp-color-result {
    width: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 40px;
}

.customize-control-color .wp-picker-container a.wp-color-result:after,
.customize-control-color-alpha .wp-picker-container a.wp-color-result:after {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.customize-control-color .wp-picker-container a.wp-color-result:focus:after, .customize-control-color .wp-picker-container a.wp-color-result:hover:after,
.customize-control-color-alpha .wp-picker-container a.wp-color-result:focus:after,
.customize-control-color-alpha .wp-picker-container a.wp-color-result:hover:after {
    color: #fff;
}

input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-radius: 3px;
    padding: .5em;
}

.customize-control input[type="checkbox"] {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    margin-bottom: 5px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.customize-control input[type="checkbox"]:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
}

.customize-control input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.customize-control input[type="checkbox"]:checked:before {
    content: "\f147";
    font-family: dashicons;
    font-size: 25px;
    left: 0;
    top: 2px;
}

.customize-control input[type="checkbox"]:checked:after {
    background: #f2f2f2;
}

/* BASICS */
.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 300px;
    color: black;
}

/* PADDING */
.CodeMirror-lines {
    padding: 4px 0;
    /* Vertical padding around content */
}

.CodeMirror pre {
    padding: 0 4px;
    /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: white;
    /* The little square between H and V scrollbars */
}

/* GUTTER */
.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.CodeMirror-guttermarker {
    color: black;
}

.CodeMirror-guttermarker-subtle {
    color: #999;
}

/* CURSOR */
.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0;
    background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7;
}

@-moz-keyframes blink {
    50% {
        background-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        background-color: transparent;
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
    display: inline-block;
    text-decoration: inherit;
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    position: absolute;
}

/* DEFAULT THEME */
.cm-s-default .cm-header {
    color: blue;
}

.cm-s-default .cm-quote {
    color: #090;
}

.cm-negative {
    color: #d44;
}

.cm-positive {
    color: #292;
}

.cm-header, .cm-strong {
    font-weight: bold;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-s-default .cm-keyword {
    color: #708;
}

.cm-s-default .cm-atom {
    color: #219;
}

.cm-s-default .cm-number {
    color: #164;
}

.cm-s-default .cm-def {
    color: #00f;
}

.cm-s-default .cm-variable-2 {
    color: #05a;
}

.cm-s-default .cm-variable-3 {
    color: #085;
}

.cm-s-default .cm-comment {
    color: #a50;
}

.cm-s-default .cm-string {
    color: #a11;
}

.cm-s-default .cm-string-2 {
    color: #f50;
}

.cm-s-default .cm-meta {
    color: #555;
}

.cm-s-default .cm-qualifier {
    color: #555;
}

.cm-s-default .cm-builtin {
    color: #30a;
}

.cm-s-default .cm-bracket {
    color: #997;
}

.cm-s-default .cm-tag {
    color: #170;
}

.cm-s-default .cm-attribute {
    color: #00c;
}

.cm-s-default .cm-hr {
    color: #999;
}

.cm-s-default .cm-link {
    color: #00c;
}

.cm-s-default .cm-error {
    color: #f00;
}

.cm-invalidchar {
    color: #f00;
}

.CodeMirror-composing {
    border-bottom: 2px solid;
}

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0f0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22;
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
    background: #e8f2ff;
}

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
    position: relative;
    overflow: hidden;
    background: white;
}

.CodeMirror-scroll {
    overflow: scroll !important;
    /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none;
    /* Prevent dragging from highlighting the element */
    position: relative;
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    margin-bottom: -30px;
    /* Hack to make IE7 behave */
    *zoom: 1;
    *display: inline;
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-gutter-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px;
    /* prevents collapsing before first draw */
}

.CodeMirror pre {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto;
}

.CodeMirror-code {
    outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-cursor {
    position: absolute;
}

.CodeMirror-measure pre {
    position: static;
}

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3;
}

div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected {
    background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0;
}

.CodeMirror-crosshair {
    cursor: crosshair;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: #d7d4f0;
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: #d7d4f0;
}

.cm-searching {
    background: #ffa;
    background: rgba(255, 255, 0, 0.4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span {
    *vertical-align: text-bottom;
}

/* Used to force a border model for a node */
.cm-force-border {
    padding-right: .1px;
}

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
    content: '';
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
    background: none;
}

.customize-control-color .kirki-alpha-container,
.customize-control-color-alpha .kirki-alpha-container {
    box-sizing: padding-box;
    display: none;
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #fff;
    padding: 0 11px 6px;
}

.customize-control-color .kirki-alpha-container .transparency,
.customize-control-color-alpha .kirki-alpha-container .transparency {
    height: 24px;
    width: 100%;
    background-color: #fff;
    background-image: url("transparency-grid.png");
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0;
}

.customize-control-color .kirki-alpha-container .ui-slider-handle,
.customize-control-color-alpha .kirki-alpha-container .ui-slider-handle {
    color: #777;
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.9;
    margin-top: -2px;
    height: 20px;
    cursor: ew-resize;
    font-size: 12px;
    padding: 3px;
}

.customize-control-color .kirki-alpha-container .ui-slider,
.customize-control-color-alpha .kirki-alpha-container .ui-slider {
    position: relative;
    text-align: center;
    width: 88%;
}

.customize-control-color .wp-picker-container a.wp-picker-open ~ div.kirki-alpha-container,
.customize-control-color-alpha .wp-picker-container a.wp-picker-open ~ div.kirki-alpha-container {
    display: block;
}

.customize-control-color .customize-control-alphacolor .wp-picker-container .iris-picker,
.customize-control-color-alpha .customize-control-alphacolor .wp-picker-container .iris-picker {
    border-bottom: none;
}

.customize-control-color .wp-picker-container,
.customize-control-color-alpha .wp-picker-container {
    width: 100%;
}

.customize-control-color .wp-picker-container .wp-picker-holder,
.customize-control-color-alpha .wp-picker-container .wp-picker-holder {
    width: calc(100% - 2px);
}

.customize-control-color .wp-picker-container .iris-picker,
.customize-control-color-alpha .wp-picker-container .iris-picker {
    width: 100% !important;
    height: 195px !important;
    padding-bottom: 10px !important;
}

.customize-control-color .wp-picker-container .iris-picker .iris-picker-inner,
.customize-control-color-alpha .wp-picker-container .iris-picker .iris-picker-inner {
    left: 35px;
    height: 190px;
}

.customize-control-color .wp-picker-container .iris-picker .iris-picker-inner .iris-square,
.customize-control-color-alpha .wp-picker-container .iris-picker .iris-picker-inner .iris-square {
    width: calc(100% - 35px) !important;
    margin-right: 2%;
}

.customize-control-color .wp-picker-container .iris-picker .iris-picker-inner .iris-slider.iris-strip,
.customize-control-color-alpha .wp-picker-container .iris-picker .iris-picker-inner .iris-slider.iris-strip {
    height: 185px !important;
    width: 28px !important;
}

.customize-control-color .iris-palette-container,
.customize-control-color-alpha .iris-palette-container {
    width: 20px;
    left: 8px;
    top: 10px;
    text-align: center;
}

.customize-control-color .iris-palette-container a,
.customize-control-color-alpha .iris-palette-container a {
    display: inline-block;
    margin-left: 0 !important;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0;
    box-shadow: none;
    width: 18px !important;
    height: 18px !important;
}

.customize-control-dimension input[type="number"] {
    width: 68%;
    display: inline-block;
    height: 35px;
    position: relative;
    top: -12px;
}

.customize-control-dimension .selectize-control {
    width: 30%;
    display: inline-block;
}

.customize-control-number .ui-spinner.ui-widget-content {
    position: relative;
}

.customize-control-number .ui-spinner.ui-widget-content .ui-spinner-button {
    position: absolute;
    right: 5px;
    color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 5px;
    width: 6px;
    font-size: 10px;
}

.customize-control-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-up {
    top: -7px;
}

.customize-control-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-down {
    top: 7px;
}

.customize-control-number .ui-spinner.ui-widget-content .ui-spinner-button:hover {
    color: rgba(0, 0, 0, 0.7);
}

.customize-control-palette input[type="radio"] {
    display: none;
}

.customize-control-palette input[type="radio"]:checked + label {
    border: 3px solid rgba(0, 0, 0, 0.4);
}

.customize-control-palette label {
    background: none;
    padding: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-bottom: 5px;
    display: flex;
}

.customize-control-palette label span {
    padding: 10px 0;
    flex-grow: 1;
    font-size: 0;
    line-height: 10px;
    color: transparent;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.customize-control-palette label span:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.customize-control-palette label span:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.customize-control-palette label span:hover {
    padding: 10px;
    flex-grow: 3;
    min-width: 60px;
    font-size: 10px;
    line-height: 10px;
    color: #000;
}

.customize-control-kirki-radio input[type=radio] {
    width: 18px;
    height: 18px;
}

.customize-control-kirki-radio input[type=radio]:checked:before {
    width: 10px;
    height: 10px;
    margin: 3px;
}

.customize-control-kirki-radio label {
    display: list-item;
    margin-bottom: 7px;
}

.customize-control-kirki-radio label .option-description {
    display: block;
    color: rgba(0, 0, 0, 0.35);
    font-size: .9em;
    padding-left: 25px;
}

.customize-control-radio-buttonset .buttonset .switch-label {
    background: rgba(0, 0, 0, 0.17);
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px 7px;
    margin: 0;
    font-size: 12px;
}

.customize-control-radio-buttonset .buttonset .switch-label:last-child {
    border-right: none;
}

.customize-control-radio-buttonset .buttonset .switch-input {
    display: none;
}

.customize-control-radio-buttonset .buttonset .switch-input:checked + .switch-label {
    background-color: #3498DB;
}

.customize-control-radio-image input {
    display: none;
}

.customize-control-radio-image input img {
    border: 1px solid transparent;
}

.customize-control-radio-image input:checked + label img {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #3498DB;
}

.customize-control-repeater .repeater-fields .repeater-row {
    padding: .5rem;
    border: 1px solid #999;
    margin-top: .5rem;
    background: #eee;
    position: relative;
    padding-top: 48px;
}

.customize-control-repeater .repeater-fields .repeater-row label {
    margin-bottom: 12px;
    clear: both;
}

.customize-control-repeater button.repeater-add {
    margin-top: 1rem;
}

.customize-control-repeater .repeater-field {
    margin-bottom: 12px;
    width: 100%;
    clear: both;
    padding-bottom: 12px;
    border-bottom: 1px dotted #CCC;
}

.customize-control-repeater .repeater-row .repeater-field:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.customize-control-repeater .repeater-field-select select {
    margin-left: 0;
}

.customize-control-repeater .repeater-field-checkbox label {
    line-height: 28px;
}

.customize-control-repeater .repeater-field-checkbox input {
    line-height: 28px;
    margin-right: 5px;
}

.customize-control-repeater .repeater-field-textarea textarea {
    width: 100%;
    resize: vertical;
}

.customize-control-repeater .repeater-row-header {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    color: #555;
    border-bottom: 1px solid #999;
    line-height: 36px;
    font-size: 15px;
}

.customize-control-repeater .repeater-row-number {
    border-right: 1px solid #ddd;
    display: inline-block;
    width: 35px;
    text-align: center;
}

.customize-control-repeater .repeater-row-remove,
.customize-control-repeater .repeater-row-move,
.customize-control-repeater .repeater-row-minimize {
    display: inline-block;
    float: right;
    border-left: 1px solid #ddd;
    width: 35px;
    height: 36px;
    text-align: center;
}

.customize-control-repeater .repeater-row-remove:hover,
.customize-control-repeater .repeater-row-move:hover,
.customize-control-repeater .repeater-row-minimize:hover {
    background: #ddd;
    cursor: pointer;
}

.customize-control-repeater .repeater-row-move:hover {
    cursor: move;
}

.customize-control-repeater .repeater-remove,
.customize-control-repeater .repeater-move,
.customize-control-repeater .repeater-minimize {
    line-height: 36px;
}

.customize-control-repeater .repeater-row.minimized {
    padding: 0;
    height: 36px;
    overflow: hidden;
}

.selectize-control {
    position: relative;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}

.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
    cursor: text;
}

.selectize-control.single .selectize-input:after {
    content: "\f347";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 12px;
    height: 36px;
    font-family: dashicons;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    line-height: 36px;
    padding: 0 3px;
}

.selectize-control.single .selectize-input.dropdown-active:after {
    content: "\f343";
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.selectize-control.single .selectize-input.disabled {
    opacity: 0.5;
    background-color: #fafafa;
}

.selectize-control.single.rtl .selectize-input:after {
    left: 15px;
    right: auto;
}

.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important;
}

.selectize-control .plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
    box-shadow: inset 0 0 12px 4px #ffffff;
}

.selectize-control .plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
}

.selectize-control .plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-control .plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important;
}

.selectize-control .plugin-remove_button [data-value] .remove {
    z-index: 1;
    /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 0 0 0;
    border-left: 1px solid #d0d0d0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-control .plugin-remove_button .remove:hover {
    background: rgba(0, 0, 0, 0.05);
}

.selectize-control .plugin-remove_button.active .remove {
    border-left-color: #cacaca;
}

.selectize-control .plugin .disabled [data-value] .remove:hover {
    background: none;
}

.selectize-control .plugin .disabled [data-value] .remove {
    border-left-color: #ffffff;
}

.selectize-control.multi .selectize-input {
    min-height: 36px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 6px 8px 3px;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #f2f2f2;
    color: #303030;
    border: 0 solid #d0d0d0;
}

.selectize-control.multi .selectize-input > div.active {
    background: #e8e8e8;
    color: #303030;
    border: 0 solid #cacaca;
}

.selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active {
    color: #7d7d7d;
    background: #ffffff;
    border: 0 solid #ffffff;
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    z-index: 999;
}

.selectize-dropdown-header {
    position: relative;
    padding: 5px 8px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #303030;
    opacity: 0.4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important;
}

.selectize-dropdown-header-close:hover {
    color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #ffffff;
    cursor: text;
    display: inline-block;
}

.selectize-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectize-input.full {
    background-color: #ffffff;
}

.selectize-input.disabled, .selectize-input.disabled * {
    cursor: default !important;
}

.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.selectize-input > input::-ms-clear {
    display: none;
}

.selectize-input > input:focus {
    outline: none !important;
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #f0f0f0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(125, 168, 208, 0.2);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 5px 8px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
    color: #303030;
    background: #ffffff;
    cursor: default;
}

.selectize-dropdown .active {
    background-color: #f5fafd;
    color: #495c68;
}

.selectize-dropdown .active.create {
    color: #495c68;
}

.selectize-dropdown .create {
    color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.customize-control-slider input[type=range] {
    -webkit-appearance: none;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5px;
    width: calc(100% - 70px);
    padding: 0;
}

.customize-control-slider input[type=range]:focus {
    box-shadow: none;
    outline: none;
}

.customize-control-slider input[type=range]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.customize-control-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #3498D9;
}

.customize-control-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #3498D9;
}

.customize-control-slider input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #3498D9;
}

.customize-control-slider input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background-color: #3498D9;
}

.customize-control-slider input[type=range]::-moz-range-track {
    border: inherit;
    background: transparent;
}

.customize-control-slider input[type=range]::-ms-track {
    border: inherit;
    color: transparent;
    background: transparent;
}

.customize-control-slider input[type=range]::-ms-fill-lower, .customize-control-slider input[type=range]::-ms-fill-upper {
    background: transparent;
}

.customize-control-slider input[type=range]::-ms-tooltip {
    display: none;
}

.customize-control-slider .kirki_range_value {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.customize-control-slider .kirki-slider-reset {
    color: rgba(0, 0, 0, 0.2);
    float: right;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.customize-control-slider .kirki-slider-reset span {
    font-size: 16px;
    line-height: 22px;
}

.customize-control-slider .kirki-slider-reset:hover {
    color: red;
}

.customize-control-sortable ul.ui-sortable li {
    padding: 5px 10px;
    border: 1px solid #333;
    background: #fff;
}

.customize-control-sortable ul.ui-sortable li .dashicons.dashicons-menu {
    float: right;
}

.customize-control-sortable ul.ui-sortable li .dashicons.visibility {
    margin-right: 10px;
}

.customize-control-sortable ul.ui-sortable li.invisible {
    color: #aaa;
    border: 1px dashed #aaa;
}

.customize-control-sortable ul.ui-sortable li.invisible .dashicons.visibility {
    color: #aaa;
}

.customize-control-spacing .wrapper {
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 96%;
    padding: 3%;
}

.customize-control-spacing .wrapper .control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customize-control-spacing .wrapper .control > div {
    width: 48%;
}

.customize-control-spacing .wrapper .control > div h5 {
    margin: 10px 0 7px 0;
}

.customize-control-spacing .wrapper .control > div .inner {
    display: flex;
}

.customize-control-spacing .wrapper .control > div .inner input[type="number"] {
    width: 50%;
    height: 36px;
}

.customize-control-spacing .wrapper .control > div .inner .selectize-control.single {
    width: 50%;
}

.customize-control-spacing .wrapper .control > div .inner .selectize-control.single > .selectize-input {
    height: 36px;
}

.customize-control-switch input[type="checkbox"] {
    display: none;
}

.customize-control-switch .switch {
    border: none;
    margin-bottom: 1.5rem;
    outline: 0;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customize-control-switch .switch label {
    background: rgba(0, 0, 0, 0.2);
    color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    text-indent: 100%;
    transition: left 0.15s ease-out;
    height: 2rem;
    width: 4rem;
}

.customize-control-switch .switch label:after {
    background: #FFFFFF;
    content: "";
    display: block;
    height: 1.5rem;
    left: .25rem;
    position: absolute;
    top: .25rem;
    width: 1.5rem;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: translate3d(0, 0, 0);
    transition: left 0.15s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.customize-control-switch .switch input {
    left: 10px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 9px;
}

.customize-control-switch .switch input + label {
    margin-left: 0;
    margin-right: 0;
}

.customize-control-switch .switch input:checked + label {
    background: #3498DB;
}

.customize-control-switch .switch input:checked + label:after {
    left: 2.25rem;
    background: #ffffff;
}

.customize-control-switch .switch.round {
    border-radius: 1000px;
}

.customize-control-switch .switch.round label {
    border-radius: 2rem;
}

.customize-control-switch .switch.round label:after {
    border-radius: 2rem;
}

.customize-control-switch .switch-on {
    position: absolute;
    left: -55px;
    top: 8px;
    color: white;
    font-weight: bold;
    font-size: 9px;
}

.customize-control-switch .switch-off {
    position: absolute;
    left: -25px;
    top: 8px;
    color: white;
    font-weight: bold;
    font-size: 9px;
}

.customize-control-kirki-textarea textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.customize-control-toggle input[type="checkbox"] {
    display: none;
}

.customize-control-toggle .switch {
    display: inline-block;
    width: 40px;
    height: 16px;
    border-radius: 8px;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;
}

.customize-control-toggle .switch:before, .customize-control-toggle .switch:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.customize-control-toggle .switch:before {
    background: rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -50%, 0) scale(0);
}

.customize-control-toggle .switch:after {
    background: rgba(100, 100, 100, 0.8);
    transform: translate3d(0, -50%, 0);
}

.customize-control-toggle .switch:active:before {
    transform: translate3d(0, -50%, 0) scale(3);
}

.customize-control-toggle input:checked + .switch {
    background: rgba(52, 152, 222, 0.3);
}

.customize-control-toggle input:checked + .switch:before {
    background: rgba(52, 152, 222, 0.075);
    transform: translate3d(100%, -50%, 0) scale(1);
}

.customize-control-toggle input:checked + .switch:after {
    background: #3498DE;
    transform: translate3d(100%, -50%, 0);
}

.customize-control-toggle input:checked + .switch:active:before {
    background: rgba(52, 152, 222, 0.075);
    transform: translate3d(100%, -50%, 0) scale(3);
}

.customize-control-toggle .customize-control-title {
    width: calc(100% - 50px);
    float: left;
}

.customize-control-typography .wrapper {
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customize-control-typography .font-style {
    width: 100%;
}

.customize-control-typography .font-style .bold,
.customize-control-typography .font-style .italic,
.customize-control-typography .font-style .underline,
.customize-control-typography .font-style .strikethrough {
    display: inline-block;
}

.customize-control-typography .font-style input[type="checkbox"] {
    display: none;
}

.customize-control-typography .font-style input[type="checkbox"]:checked + .dashicons {
    background: #3498DB;
    color: #fff;
}

.customize-control-typography .font-style .dashicons {
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #777;
}

.customize-control-typography .font-family {
    width: 100%;
}

.customize-control-typography .font-size,
.customize-control-typography .font-weight,
.customize-control-typography .line-height,
.customize-control-typography .letter-spacing {
    width: 48%;
}

.customize-control-typography .font-size h5,
.customize-control-typography .font-weight h5,
.customize-control-typography .line-height h5,
.customize-control-typography .letter-spacing h5 {
    width: 100%;
    margin: 10px 0 7px 0;
}

.customize-control-typography .font-size,
.customize-control-typography .letter-spacing {
    display: flex;
    flex-wrap: wrap;
}

.customize-control-typography .font-size input[type="number"],
.customize-control-typography .letter-spacing input[type="number"] {
    width: 50%;
    height: 36px;
}

.customize-control-typography .font-size .selectize-control.single,
.customize-control-typography .letter-spacing .selectize-control.single {
    width: 50%;
}

.customize-control-typography .font-size .selectize-control.single > .selectize-input,
.customize-control-typography .letter-spacing .selectize-control.single > .selectize-input {
    height: 36px;
}

.customize-control-typography .font-weight .selectize-control.single {
    width: 100%;
}

.customize-control-typography .font-weight .selectize-control.single > .selectize-input {
    height: 36px;
}

.customize-control-typography .line-height input[type="number"] {
    width: 100%;
    height: 36px;
}

/*# sourceMappingURL=customizer.css.map */
