/*
Theme Name: martable
Theme URI:
Author: niftyThemes.com
Author URI:
Description: Responsive eCommerce WordPress theme with WooCommerce support.
Version: 0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: martable
Domain Path: /languages/
Tags: custom-header, black, gray, silver, dark, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready  

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

martable is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), 
       url('fonts/fontawesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), 
	   url('fonts/fontawesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
	   url('fonts/fontawesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
	background: #292929;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #383838;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	-ms-word-wrap: break-word;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Patua One', cursive;
	line-height: 1.25;
}
h1{
	font-size: 48px;
	font-size: 4.8rem;	
}
h2{
	font-size: 40px;
	font-size: 4.0rem;	
}
h3{
	font-size: 36px;
	font-size: 3.6rem;	
}
h4{
	font-size: 24px;
	font-size: 2.4rem;	
}
h5{
	font-size: 20px;
	font-size: 2.0rem;	
}
h6{
	font-size: 18px;
	font-size: 1.8rem;	
}
p {
	margin-bottom: 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
	padding:0 1.5em;
	border-left:1.0em solid #d7dadb;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #d7dadb;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #d7dadb;
	cursor: help;
}
mark, ins {
	background: #d7dadb;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/*--------------------------------------------------------------
Containers
--------------------------------------------------------------*/
.wrapper_one{
	width:100%;
}
.wrapper_two{
	width:100%;
}
.wrapper_three{
	max-width:90%;
	margin:0 auto;
	background:#edf1f2;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.site-header{
	width:100%;
	margin:0;
	background:url(images/logo_bg.png);
}
.site-content{
	width:100%;
	margin:0;
	padding:5% 0;
}
.custom-header{
	width:100%;
	margin:0;
	line-height:0;
}
.featured-slider{
	width:90%;
	margin:0 5%;
	overflow:auto;
	background:#e4e7e8;
}
.content-area{
	width:90%;
	margin:0 5% 5% 5%;
	float:left;
}
.content-area-full{
	width:90%;
	margin:0 5%;
	float:left;
}
.front-content-area-full{
	width:90%;
	margin:0 5%;
	float:left;
	padding:5%;
	background:#e4e7e8;
}
.front-content-area-full .site-main .paging-navigation {
    background: #d9dbdc;
}
.widget-area{
	width:90%;
	margin:0 5% 5% 5%;
	float:left;
}
.page-template-page-left-sidebar-php .widget-area{
	width:90%;
	margin:0 5% 5% 5%;
	float:left;
}
.site-footer{
	width:100%;
	margin:0;
	padding:3% 4%;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	background:#2f2f2f;
	background:url(images/footer_widgets.png);
}
#infinite-footer .container{
	background:#2f2f2f;
	border-width:0;
}
#infinite-footer .blog-info a, #infinite-footer .blog-info a:hover, #infinite-footer .blog-credits a, #infinite-footer .blog-credits a:hover{
	color:#F8F7F7;
}
#infinite-footer .blog-info, #infinite-footer .blog-credits a{
	color: #D1D2D1;
}


/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
hr {
	background-color: #000;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ul li{
	margin-bottom:0.5em;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0px solid;
	border-color: #ccc #ccc #bbb; 
	border-radius: 3px;
	background: #000;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .8em;
	color:#fff;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #D1D2D1;
	border: 1px solid #d7dadb;
	border-radius: 3px;
	background:#d7dadb;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #D1D2D1;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
.main-navigation{
	width:100%;
	margin:0;
	padding:2% 0;
	background:#2f2f2f;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	color:#000;
}
a:visited {
	color:#383838;
}
a:hover,
a:focus,
a:active {
	color:#242424;
}

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	color:#fff;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display:none;
}
.main-navigation li {
	float: left;
	position: relative;
	margin:0 0.7em 0 0;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	margin:0;
	padding:0.5em 1em 0.7em 1em;
	color:#fff;
}
.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 2.7em;
	left: -999em;
	z-index: 99999;
	background:#222222;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
	margin:0;
}
.main-navigation ul ul li a:hover {
	background:#1a1a1a;
}
.main-navigation li:hover > a {
	background:#222222;
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul {
	left: 100%;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
	background:#222222;
}
/* Small menu */
.main-navigation .tinynav{
	display: block;
	width:80%;
	margin:5% 10%;
	padding:2%;
	border:0;
	background:rgba(0,0,0,0.15);
	color:#fff;
}
.site-main .comment-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
	background:#e4e7e8;
	padding:2em 0;
}
.site-main .paging-navigation{
	margin: 0 0 1.5em;
	overflow: hidden;
	background:#e4e7e8;
	padding:2em 0;
}
.site-main .post-navigation {
	margin: 0 0 5%;
	background:none;
	overflow:hidden;
	position:relative;
}
.paging-navigation .nav-previous{
	float: left;
	width: 90%;
	padding:0 5%;
}
.paging-navigation .nav-previous a{
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:0 0 1em 0;
}
.paging-navigation .nav-previous a:before{
	content: "\f104";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
	font-size:22px;
	font-size:2.2rem;
}
.paging-navigation .nav-next{
	float: right;
	text-align: right;
	width: 90%;
	padding:0 5%;
}
.paging-navigation .nav-next a{
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:0 0 1em 0;
}
.paging-navigation .nav-next a:after{
	content: "\f105";
	font-family: 'FontAwesome';
	margin-left:0.5em;
	color:#fc3b3b;
	font-size:22px;
	font-size:2.2rem;
}
.post-navigation .nav-previous {
	float: left;
	width: 100%;
	padding:1.5em 0;
	background:#e4e7e8;
	margin:0 0 5% 0;
}
.post-navigation .nav-previous a {
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:1em 0 1em 0;
	padding:0 0 0 2em;
	position:relative;
}
.post-navigation .nav-previous span {
	margin:0 0 0 3em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:rgba(0,0,0,0.15);
	padding: 0.6em 1em 0.7em;
	font-size:14px;
	font-size:1.4rem;		
}
.post-navigation .nav-previous span:before {
	content: "\f104";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
	font-size:16px;
	font-size:1.6rem;
}
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 100%;
	padding:1.5em 0;
	background:#e4e7e8;
	margin:0 0 5% 0;
}
.post-navigation .nav-next a{
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:1em 0 1em 0;
	padding:0 2em 0 0;
	position:relative;
}
.post-navigation .nav-next span {
	margin:0 3em 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:rgba(0,0,0,0.15);
	padding: 0.6em 1em 0.7em;
	font-size:14px;
	font-size:1.4rem;		
}
.post-navigation .nav-next span:after{
	content: "\f105";
	font-family: 'FontAwesome';
	margin-left:0.5em;
	color:#fc3b3b;
	font-size:16px;
	font-size:1.6rem;
}
.comment-navigation .nav-previous {
	float: left;
	width: 100%;
	padding:0;
}
.comment-navigation .nav-previous a{
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:0 0 1em 0;
}

.comment-navigation .nav-previous a:before{
	content: "\f104";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
	font-size:22px;
	font-size:2.2rem;
}
.comment-navigation .nav-next {
	float: right;
	text-align: right;
	width: 100%;
	padding:0;
}
.comment-navigation .nav-next a{
	text-decoration:none;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	display:block;
	margin:0 0 1em 0;
}
.comment-navigation .nav-next a:after{
	content: "\f105";
	font-family: 'FontAwesome';
	margin-left:0.5em;
	color:#fc3b3b;
	font-size:22px;
	font-size:2.2rem;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
Sidebar & Widgets
--------------------------------------------------------------*/
.sidebar_facebook{
	width:90%;
	margin:3% 5%;
	border-bottom:1px solid #d7dadb;
	position:relative;
}
.sidebar_facebook p{
	margin:0.5em 60px 0.5em 0;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	text-align:right;
	line-height:1.7;
}
.sidebar_facebook p:after{
	content: "\f09a";
	width: 40px; 
	height: 40px; 
	background:#fc3b3b; 
	position: relative;
	font-family: 'FontAwesome'; 
	text-align:center; 
	font-size:24px;
	font-size:2.4rem;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position:absolute;
	top:0;
	right:0;
	line-height:1.8;
}
.sidebar_facebook p a, .sidebar_facebook p a:hover{
	text-decoration:none;
}
.sidebar_twitter{
	width:90%;
	margin:2% 5%;
	border-bottom:1px solid #d7dadb;
	position:relative;
}
.sidebar_twitter p{
	margin:0.5em 60px 0.5em 0;
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	text-align:right;
	line-height:1.7;
}
.sidebar_twitter p:after{
	content: "\f099";
	width: 40px; 
	height: 40px; 
	background:#fc3b3b; 
	position: relative;
	font-family: 'FontAwesome'; 
	text-align:center; 
	font-size:24px;
	font-size:2.4rem;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position:absolute;
	top:0;
	right:0;
	line-height:1.8;
}
.sidebar_twitter p a, .sidebar_twitter p a:hover{
	text-decoration:none;
}
.sidebar_social_others{
	width:90%;
	margin:7% 5%;
	text-align:center;
}
.sidebar_social_others span{
	display:inline-block;
	width: 60px; 
	height: 60px; 
	background:#d7dadb; 
	font-family: 'FontAwesome'; 
	text-align:center; 
	font-size:24px;
	font-size:2.4rem;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	line-height:2.5;
	margin:0.15em;
}
.sidebar_social_others span a{
	color:#fcfbfb;
	text-decoration:none;
}
.sidebar_social_others span a:hover{
	color:#fc3b3b;
	text-decoration:none;
}
.widget {
	margin:0 0 5% 0;
	padding:10%;
	background:#e4e7e8;
}
.widget a{
}
.widget h1 {
	margin: 0 0 0.5em 0;
	line-height:1.1;
}
.widget ul {
	margin: 0 0 1.5em 0;
	list-style:none;
}
.widget ul li{
	margin: 0 0 0 1.0em;
	border-bottom:1px solid #d7dadb;
	padding:0.4em 0 0.6em 0;	
}
.widget ul li a{
	text-decoration:none;
}
.widget ul li ul {
	margin: 0 0 0.3em 0;
	padding:0.3em 0;	
}
.widget ul li ul li{
	margin: 0 0 0 1.0em;
	padding:0.3em 0;
	border-bottom:0;	
}
.widget .search-field{
	width:95%;
	margin-bottom:10px;
	border-radius:0;
	background:#d7dadb;
	border:0;
	padding:0.7em 0 0.7em 5%;
	color:#000;
}
.widget .search-field:focus{
	color:#000;
}
.widget .search-submit{
	display:inline-block;
	padding:0.7em 2.5em;
	background:#000;
	color:#fff;
	border:0;
	box-shadow:none;
	line-height:1;
	border-radius:0;
}
/* Make sure select elements fit in widgets */
.widget select {
	width: 90%;
	margin:5%;
	padding:2%;
	background:#d7dadb;
	border:0;
}

/* Search widget */
.widget_search .search-submit {
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.entry-title{
	margin:0 0 2% 0;
	line-height:1.1;
}
.entry-title a, .entry-title a:visited, .entry-title a:hover, .entry-title a:focus, .entry-title a:active {
	text-decoration:none;
}
.entry-content table{
	border-color:#d7dadb;
	border-style:solid;
	border-width:1px 0 0 1px;
}
.entry-content table th, .entry-content table td{
	padding:0.7em 1em;
	border-color:#d7dadb;
	border-style:solid;
	border-width:0 1px 1px 0;
}
.entry-content .more-link{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.7em 1.5em 0.9em 1.5em;
	line-height:1;
	margin:0 0 0.5em 0;
	font-size:14px;
	font-size:1.4rem;
	text-decoration:none;
	display:inline-block;	
}
.entry-content .page-links a{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.7em 1em;
	line-height:1;
	margin:0 0 0.5em 0.7em;
	font-size:14px;
	font-size:1.4rem;
	text-decoration:none;
	display:inline-block;	
}
.format-quote, .format-aside, .format-status, .format-link, .format-audio, .format-video{
	position:relative;
}
.format-quote blockquote{
	font-size:24px;
	font-size:2.4rem;
	border-left:none;
	margin:0;
}
.format-quote blockquote p, .format-aside p, .format-status p, .format-link p, .format-audio p, .format-video p{
	margin-bottom:0.5em;
}
.format-link p a{
	font-size:18px;
	font-size:1.8rem;
}
.format-quote blockquote cite{
	font-size:18px;
	font-size:1.8rem;
}
.format-quote blockquote cite a{
	margin-top:1em;
	text-decoration:none;
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.7em 1em;
	display:inline-block;
}
.entry-content-permalink{
	font-family: 'FontAwesome';
	position:absolute;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	color:#fff;
	padding:0.5em 1em 0.7em 1em;
	font-size:18px;
	font-size:1.8rem;
}
.entry-content-permalink a{
	text-decoration:none;
}
.format-image .entry-content{
	margin:2em 0 0.5em 0;
}
.post-format-image-permalink{
	width:100%;
	text-align:center;	
}
.post-format-image-permalink a{
	text-decoration:none;
}

/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.page-header{
	background:#e4e7e8;
	padding:5%;
	margin: 0 0 5% 0;
}
.taxonomy-description{
	margin:1.5em 0 0 0;
}
.content-area .post{
	background:#e4e7e8;
	padding:5%;	
}
.content-area .page{
	background:#e4e7e8;
	padding:5%;
}
.content-area .attachment{
	background:#e4e7e8;
	padding:5%;	
}
.content-area .attachment .entry-meta{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	display:inline-block;
	font-size:14px;
	font-size:1.4rem;		
}
.image-navigation{
	text-align:center;
}
.image-navigation .nav-previous{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	display:inline-block;
	font-size:14px;
	font-size:1.4rem;		
}
.image-navigation .nav-next{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	display:inline-block;
	font-size:14px;
	font-size:1.4rem;		
}
.image-navigation .nav-previous a,
.image-navigation .nav-next a{
	text-decoration:none;
}
.image-navigation .nav-previous a:before{
	content: "\f104";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
	font-size:14px;
	font-size:1.4rem;	
}
.image-navigation .nav-next a:after{
	content: "\f105";
	font-family: 'FontAwesome';
	margin-left:0.5em;
	color:#fc3b3b;
	font-size:14px;
	font-size:1.4rem;	
}
.content-area-full .page{
	background:#e4e7e8;
	padding:5%;
}
.content-area-full .hentry {
	margin:0;
}
.hentry {
	margin: 0 0 5% 0;
}
.entry-meta{
	padding:2% 0;
}
.byline{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	display:inline-block;
}
.byline span a{
	text-decoration:none;
}
.byline span a:before{
	content: "\f007";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
}
.posted-on{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;	
	display:inline-block;	
}
.posted-on .entry-date:before{
	content: "\f017";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;	
}
.comments-number{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.6em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;	
	display:inline-block;	
}
.comments-number span:before{
	content: "\f086";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;	
}
.comments-number a{
	text-decoration:none;	
}
.updated {
	display:none;
}
.single .byline,
.group-blog .byline {
	display: inline-block;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 2em 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.cat-links{
	margin:0 0 0.5em 0;
}
.cat-links a{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.6em 1em 0.7em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	font-size:14px;
	font-size:1.4rem;
	text-decoration:none;
	display:inline-block;	
}
.tags-links{
	margin:0 0 0.5em 0;
}
.tags-links a{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.6em 1em 0.7em 1em;
	line-height:1;
	margin:0 0.7em 0.5em 0;
	font-size:14px;
	font-size:1.4rem;
	text-decoration:none;
	display:inline-block;	
}
.edit-link{
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.6em 1em 0.7em 1em;
	line-height:1;
	margin:0 0 0.5em 0;
	font-size:14px;
	font-size:1.4rem;
	display:inline-block;	
}
.edit-link a{
	text-decoration:none;	
}
.single_author_bio{
	margin: 0 0 5%;
	background:#e4e7e8;
	overflow:hidden;
	position:relative;
	padding:5% 0;
}
.single_author_bio_avatar{
	width:90%;
	margin:0 5%;
	float:left;
	text-align:center;
}
.single_author_bio_avatar img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	max-width:100%;
	height:auto;
	border:5px solid rgba(0,0,0,0.15);
}
.single_author_details{
	width:90%;
	margin:3% 5% 0 5%;
	float:left;
	text-align:center;
}
.single_author_name{
	font-family: 'Patua One',cursive;
	font-size:22px;
	font-size:2.2rem;
	margin:0 0 1em 0;		
}
.single_author_name span{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:rgba(0,0,0,0.15);
	padding:0.3em 0.7em 0.5em 0.7em;		
}
.single_author_description{
	margin:0 0 1em 0;
}
div.sharedaddy h3.sd-title{
	font-weight:400 !important;	
}
.single-featured-image{
	width:100%;
}
.single-featured-image img{
	max-width:100%;
	height:auto;
}
.page-featured-image{
	width:100%;
}
.page-featured-image img{
	max-width:100%;
	height:auto;
}

/*--------------------------------------------------------------
404
--------------------------------------------------------------*/
.page-header-not-found h1 {
	text-align:center;
}
.error-404 .page-content p, .not-found .page-content p{
	text-align:center;
}
.fourohfour-widgets-container{
	width:100%;
	margin:5% 0 2% 0;
	overflow:auto;
}
.widget-fourohfour{
	float:left;
	width:96%;
	margin:0 2% 2% 2%;
}

/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

.comments-area{
	background:#e4e7e8;
	padding:5% 0;
	margin:5% 0;
}
.comments-title{
	width:90%;
	margin:2% 5%;	
}
.comment-navigation{
	width:90%;
	margin:5% 5% !important;	
}
.comment-navigation .nav-previous a{
	background:rgba(0,0,0,0.10);
	padding:0.5em 1em;
}
.comment-navigation .nav-next a{
	background:rgba(0,0,0,0.10);
	padding:0.5em 1em;
}
.comment-list{
	margin:2% 0;
	list-style:none;	
}
.comment{
	background:rgba(0,0,0,0.10);
	padding:0 0 4% 0;
	width:90%;
	margin:4% 5% 0 5%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}
.pingback, .trackback{
	background:rgba(0,0,0,0.10);
	padding:2% 0 1% 0;
	width:90%;
	margin:4% 5% 0 5%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}
.comment-body{
	margin:0 0 2% 0;
}
.comment-author{
	padding:2% 4%;
	background:rgba(0,0,0,0.10);
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;	
}
.comment-author img{
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	border:5px solid rgba(0,0,0,0.10);
	line-height:1;
	float:left;		
}
.comment-author-name{
}
.comment-author-name a{
	text-decoration:none;
}
.comment-author-name cite{
	background:rgba(0,0,0,0.10);
	font-size: 16px;
	font-size: 1.6rem;	
	padding:0.2em 1.0em 0.4em 1.0em;
	display:inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:0.2em 0 0 0.7em;	
}
.comment-author-time{
	margin:0.2em 0 0 0.7em;	
}
.comment-author time{
	font-size: 12px;
	font-size: 1.2rem;
	font-weight:600;
}
.comment-author-edit{
	
}
.comment-author-edit .edit-link{
	font-size: 14px;
	font-size: 1.4rem;
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0.5em 1em 0.7em 1em;
	line-height:1;
	margin:0.2em 0 0 0.7em;	
	display:inline-block;	
}

.comment-content{
	clear:both;
	padding:2% 4%;
}

.comment-body .reply a{
	background:rgba(0,0,0,0.25);
	color:#fff;
	font-size: 14px;
	font-size: 1.4rem;
	line-height:1;		
	padding:0.3em 1.5em 0.5em 1.5em;
	text-decoration:none;
}
.comment-list ul{
	list-style:none;	
}
.comment-respond{
	padding:7% 5% 2% 5%;
	background:#e4e7e8;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}
.site-main .form-submit #submit{
	font-size: 16px;
	font-size: 1.6rem;	
	padding:0.7em 1.5em;
	color: #fff;
}

.martable_fluid_video_cont {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.no-comments{
	background:#e4e7e8;
	padding:5% 0;
	margin:5% 0;
}
.no-comments p{
	text-align:center;
	margin:0 0 0.1em 0;
}
.martable_fluid_video_cont iframe,  
.martable_fluid_video_cont object,  
.martable_fluid_video_cont embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}

/*--------------------------------------------------------------
Site Branding
--------------------------------------------------------------*/
.site-branding{
	padding:5% 4%;
	text-align:center;
}
.site-title{
	font-size: 72px;
	font-size: 7.2rem;
	color:#f26363;
	text-shadow:2px 2px #000;
	line-height:1.0;
	text-align:center;
}
.site-title a{
	color:#f26363;
	text-decoration:none;
}
.site-title a:visited {
	color:#f26363;
	text-decoration:none;
}
.site-title a:hover,
.site-title a:focus,
.site-title a:active {
	color:#f26363;
	text-decoration:none;
}
.site-description{
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	text-align:center;	
	color:#fff;
}

/*--------------------------------------------------------------
Sliders
--------------------------------------------------------------*/
.custom-header img{
	max-width:100%;
	height:auto;
}

.frontpage-header{
	width:100%;
}
.frontpage-header img{
	max-width:100%;
	height:auto;
}
.header-one{
	width:100%;
	overflow:auto;
	padding:7% 0;
}
.header-one img{
	max-width:100%;
	height:auto;
}
.header-one-overlay h1{
	padding:2% 5%;
	font-size:36px;
	font-size:3.6rem;
	width:100%;
	color:#fff;
}
.header-one-overlay p{
	padding:2% 5%;
	font-size:16px;
	font-size:1.6rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
	width: 100%;
	color:#fff;		
}
.header-one-overlay p a{
	font-size:16px;
	font-size:1.6rem;
	padding:0.5em 2.5em;
	text-decoration:none;
	background:#f26363;
	border-bottom:2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
	color:#fff;	
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-info-container{
	float:left;
	width:90%;
	margin:5%;	
}
.bottom-footer-widget-left{
	float:left;
	width:90%;
	margin:5%;	
}
.bottom-footer-widget-center{
	float:left;
	width:90%;
	margin:5%;	
}
.bottom-footer-widget-right{
	float:left;
	width:90%;
	margin:5%;	
}
.site-info{
	padding:5%;
}
.site-info p{
	padding:0 5%;
	margin:0 0 0.2em 0;
}
.site-info p a{
	text-decoration:none;
	color:#edf1f2;
}
.bottom-site-name{
	font-size: 48px;
	font-size: 4.8rem;
	font-family: 'Patua One', cursive;
	line-height: 1.25;
	margin:0 0 0.2em 0;
	padding:0 5%;
}
.bottom-site-name img{
	max-width:100%;
	height:auto;
}
.bottom-site-name a{
	text-decoration:none;
	color: #f26363;
}
.bottom-footer-widget-left .widget h1,
.bottom-footer-widget-center .widget h1,
.bottom-footer-widget-right .widget h1{
	font-family: 'Patua One', cursive;
}
.bottom-footer-widget-left .widget,
.bottom-footer-widget-center .widget,
.bottom-footer-widget-right .widget{
	background:none;
}
.bottom-footer-widget-left .widget-title,
.bottom-footer-widget-center .widget-title,
.bottom-footer-widget-right .widget-title{
	font-size: 22px;
	font-size: 2.2rem;
	color:#fff;
}
.bottom-footer-widget-left .widget ul li,
.bottom-footer-widget-center .widget ul li,
.bottom-footer-widget-right .widget ul li{
	margin: 0 0 0 0.1em;
	border-bottom: 1px solid #282828;
}
.bottom-footer-widget-left select,
.bottom-footer-widget-center select,
.bottom-footer-widget-right select,
.bottom-footer-widget-left .search-field,
.bottom-footer-widget-center .search-field,
.bottom-footer-widget-right .search-field{
	background:#222222;
}
.bottom-footer-widget-left .widget ul li ul li,
.bottom-footer-widget-center .widget ul li ul li,
.bottom-footer-widget-right .widget ul li ul li{
	margin: 0 0 0 0.1em;
	border-bottom:0;	
}

.site-footer .widget {
	color:#edf1f2;
}
.site-footer .widget a{
	color:#edf1f2;
}
.site-footer .widget .search-field{
	background:#282828;
}
.site-footer .widget .search-submit{
	background:#000;
	color:#fff;
}
/* Make sure select elements fit in widgets */
.site-footer .widget select {
	background:#282828;
}

/* Search widget */
.widget_search .search-submit {
}

/*--------------------------------------------------------------
Jetpack
--------------------------------------------------------------*/
.jetpack_subscription_widget input[type="text"]{
	background:rgba(0,0,0,0.15);
	padding:2% !important;
}
.jp-relatedposts{
	background:rgba(0,0,0,0.10);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:2em 0 0 0 !important;
}
div#jp-relatedposts h3.jp-relatedposts-headline{
	font-size: 16px;
	font-size: 1.6rem;
	background:rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:0 0 1em 1em;
	display:inline-block;
	padding:0.7em 1em;
	font-weight:normal;
}
div#jp-relatedposts h3.jp-relatedposts-headline em:before{
	display: inline;
	content: "\f055";
	font-family: 'FontAwesome';
	margin-right:0.5em;
	color:#fc3b3b;
	border-top:0;
	font-weight:400;
}
div#jp-relatedposts div.jp-relatedposts-items-visual{
	margin-right:0;
}
div#jp-relatedposts div.jp-relatedposts-items-visual .jp-relatedposts-post{
	padding-right:0;
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post{
	width:90%;
	margin:0 5% 2em 5%;
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post img.jp-relatedposts-post-img, div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post span{
	margin:0 0 0.5em 0;	
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a{
	font-weight:400;
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post:nth-child(3n){
	clear:none;
}

/*--------------------------------------------------------------
Ecom
--------------------------------------------------------------*/
.ecom-welcome{
	width:100%;
	margin:0 0 7% 0;
}
.ecom-welcome h2{
	width:100%;
	text-align:center;
	font-size: 48px;
	font-size: 4.8rem;
	font-family: 'Patua One', cursive;
	margin:0 0 0.4em 0;
}
.ecom-welcome p{
	width:100%;
	text-align:center;
}
.ecom-products-container{
	width:100%;
	overflow:auto;
}
.ecom-product{
	float:left;
	width:100%;
	background:#e4e7e8;
	margin:0 0 5% 0;
}
.ecom-clear-both{
	clear:both;
}
.ecom-product-image{
	width:100%;
}
.ecom-product-image img{
	max-width:100%;
	height:auto;
}
.ecom-product-desc-cont{
	width:100%;	
}
.ecom-product-desc-cont h2{
	width:80%;
	margin:5% 10% 5% 10%;
	font-size: 32px;
	font-size: 3.2rem;
}
.ecom-product-desc-cont h2 a{
	text-decoration:none;	
}
.ecom-product-desc-cont p{
	width:80%;
	margin:2% 10% 7% 10%;
}
.ecom-product-price-cont{
	width:100%;	
}
.ecom-product-price{
	width:100%;
	background:#e0e2e2;
	text-align:center;
	margin:0;
	overflow:hidden;
	padding:3% 0;
}
.ecom-product-price span{
	background:#dadbdb;
	font-size: 22px;
	font-size: 2.2rem;
	font-family: 'Patua One', cursive;
	display:inline;
	padding:1em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
}
.ecom-product-buy{
	width:100%;
	background:#d7dadb;
	text-align:center;
	margin:0;
	overflow:auto;
	padding:5% 0;
}
.ecom-product-buy span{
	background:#f26363;
	border-bottom:1px solid #000;
	padding:0.5em 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline-block;	
}
.ecom-product-buy a{
	color:#fff;
	text-decoration:none;
	font-family: 'Patua One', cursive;
	font-size: 18px;
	font-size: 1.8rem;	
}
.ecom-product-buy a:after{
	color:#fff;	
	display: inline;
	content: "\f0a9";
	font-family: 'FontAwesome';
	margin-left:0.5em;
	font-size: 18px;
	font-size: 1.8rem;	
}

.footer-social{
	width:100%;
	padding:1% 0;
	background:#3a3a3b;
}
.footer_social_icons{
	width:100%;
	text-align:center;
}
.footer_social_icons span{
	display:inline-block;
	width: 60px; 
	height: 60px; 
	background:#353535; 
	font-family: 'FontAwesome'; 
	text-align:center; 
	font-size:24px;
	font-size:2.4rem;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	line-height:2.5;
	margin:0.15em;
}
.footer_social_icons span a{
	color:#fcfbfb;
	text-decoration:none;
}
.footer_social_icons span a:hover{
	color:#fc3b3b;
	text-decoration:none;
}

/*--------------------------------------------------------------
Responsive Rules
--------------------------------------------------------------*/
/* styles for less than 400px */
@media screen 
and (max-width : 399px) {

	
	
	
	
}

/* styles for 400px - 600px */
@media screen 
and (min-width : 400px) 
and (max-width : 599px) {
	
}


/* styles for 600px - 900px */
@media screen 
and (min-width : 600px) 
and (max-width : 899px) {
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post{
	width:25%;
	margin:0 4% 2em 4%;
}
.header-one-overlay h1{
	font-size:48px;
	font-size:4.8rem;
}
.header-one-overlay p{
	font-size:20px;
	font-size:2.0rem;
}
.header-one-overlay p a{
	font-size:24px;
	font-size:2.4rem;
}
}


/* styles for 901px - 1200px */
@media screen 
and (min-width : 900px) 
and (max-width : 1199px) {		
.main-navigation ul {;
	display:block;
}
.main-navigation .tinynav{
	display: none;
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post{
	width:25%;
	margin:0 4% 2em 4%;
}
.single_author_bio_avatar{
	width:20%;
	margin:0 2%;
}
.single_author_details{
	width:71%;
	margin:0 5% 0 0;
	float:left;
	text-align:left;	
}
.ecom-product{
	float:left;
	width:30%;
	margin:0 5% 2% 0;
}
.ecom-third-product{
	margin:0 0 2% 0;
}
.header-one-overlay h1{
	width: 100%;
}
.header-one-overlay p{
	width: 100%;
}
}

/* styles for 1200px - 1399px */
@media screen 
and (min-width : 1200px) 
and (max-width : 1399px) {
.wrapper_three{
	max-width:90%;
}
.header-one-overlay h1{
	font-size:64px;
	font-size:6.4rem;
}
.header-one-overlay p{
	font-size:24px;
	font-size:2.4rem;
}
.header-one-overlay p a{
	font-size:24px;
	font-size:2.4rem;
}
}

/* styles for 1400px or more */
@media screen 
and (min-width : 1300px) {
.wrapper_three{
	max-width:1302px;
}
.header-one-overlay h1{
	width: 50%;
}
.header-one-overlay p{
	width: 70%;
}
.header-one-overlay h1{
	font-size:64px;
	font-size:6.4rem;
}
.header-one-overlay p{
	font-size:24px;
	font-size:2.4rem;
}
.header-one-overlay p a{
	font-size:24px;
	font-size:2.4rem;
}
}

/* styles for 1200px or more */
@media screen 
and (min-width : 1200px) {
.site-branding{
	width:50%;
	padding:5%;
	text-align:left;
	float:left;
}
.main-navigation{
	clear:none;
	width:45%;
	margin:0;
	padding:6% 3%;
	float:left;
	background:none;
}
.main-navigation ul {
	display:block;
}
.main-navigation .tinynav{
	display: none;
}
.site-title{
	text-align:left;
}
.content-area{
	width:55%;
	margin:0 5%;
	float:left;
}
.widget-area{
	width:30%;
	margin:0 5% 0 0;
	float:left;
}
.page-template-page-left-sidebar-php .widget-area{
	width:30%;
	margin:0 0 0 5%;
	float:left;
}
.paging-navigation .nav-previous{
	float: left;
	width: 45%;
	padding:0 0 0 5%;
}
.paging-navigation .nav-previous a{
	margin:0;
	display:inline-block;
}
.paging-navigation .nav-next{
	float: right;
	text-align: right;
	width: 45%;
	padding:0 5% 0 0;
}
.paging-navigation .nav-next a{
	margin:0;
	display:inline-block;
}
.site-main .post-navigation {
	background:#e4e7e8;
}
.post-navigation .nav-previous{
	float: left;
	width: 50%;
	background:none;
	margin:0;
}
.post-navigation .nav-previous a{
	margin:0.6em 0 0 0;
}
.post-navigation .nav-next {
	float: left;
	text-align: right;
	width: 50%;
	background:none;
	margin:0;
}
.post-navigation .nav-next a{
	margin:0.6em 0 0 0;
}
.comment-navigation .nav-previous{
	float: left;
	width: 45%;	
	padding:0;
}
.comment-navigation .nav-previous a{
	margin:0;
	display:inline-block;
}

.comment-navigation .nav-next{
	float: right;
	text-align: right;
	width: 45%;	
	padding:0;
}
.comment-navigation .nav-next a{
	margin:0;
	display:inline-block;
}
.site-info-container{
	float:left;
	width:34%;
	margin:0;	
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post{
	width:25%;
	margin:0 4% 2em 4%;
}
.single_author_bio_avatar{
	width:20%;
	margin:0 2%;
}
.single_author_details{
	width:71%;
	margin:0 5% 0 0;
	float:left;
	text-align:left;	
}
.widget-fourohfour{
	width:30%;
	margin:0 1.666% 2% 1.666%;
}
.bottom-footer-widget-left{
	float:left;
	width:22%;
	margin:0;	
}
.bottom-footer-widget-center{
	float:left;
	width:22%;
	margin:0;	
}
.bottom-footer-widget-right{
	float:left;
	width:22%;
	margin:0;	
}
.ecom-product{
	float:left;
	width:30%;
	margin:0 5% 5% 0;
}
.ecom-third-product{
	margin:0 0 2% 0;
}
.header-one-overlay h1{
	width: 50%;
}
.header-one-overlay p{
	width: 70%;
}	
.header-one-overlay h1{
	font-size:64px;
	font-size:6.4rem;
}
.header-one-overlay p{
	font-size:24px;
	font-size:2.4rem;
}
.header-one-overlay p a{
	font-size:24px;
	font-size:2.4rem;
}
}