.comment-content {
	font-size: rem-calc(14);
	color: #757575;
	a {
		word-wrap: break-word;
	}
}

.bypostauthor {
	display: block;
}

.content-area {
	.post-comment {
		background: red;
	}
	.comments-title {
		text-align: center;
		margin-bottom: rem-calc(50);
	}
}

.comment-body {
	margin-bottom: rem-calc(20);
	border-bottom: 1px solid #f2f2f2;
	img {
		border-radius: 100%;
	}
	.says {
		display: none;
	}
	.fn {
		display: block;
	}
	.comment-author img {
		float: left;
		margin-right: rem-calc(10);
	}
	.comment-metadata {
		padding-bottom: rem-calc(5);
		font-size: rem-calc(12);
		a {
			color: #aaaaaa;
		}
	}
	.reply {
		text-align: right;
		font-size: rem-calc(13);
	}
}